body{
    background-color: rgb(13, 17, 8);
}
a{
    color:rgb(13, 17, 8);
    font-size: 18px;
} 
.navbar{
    color:rgb(13, 17, 8) ;
    height:90px ;
    background-color: #cda34f;
}
.navbar-brand{
    font-size: 40px;
}
h1{
text-align: center;
line-height: 4;
color: #636B46;
}
input{
   height: 300px;
   width: 200px;
   margin: auto
}