body{
    background-color: rgb(13, 17, 8);
}
a{
    color:rgb(13, 17, 8);
    font-size: 18px;
} 
.navbar{
    color:rgb(13, 17, 8) ;
    background-color: #cda34f;
}
.navbar-brand{
    font-size: 40px;
}
h1{
text-align: center;
line-height: 4;
color: #636B46;
}
input{
   height: 300px;
   width: 200px;
   margin: auto
}
.modal-content{
    text-align: left;
}
.moviedescription{
    margin-left: 7mm;
}
.movietitle{
    margin-left: 7mm;
    margin-top: 7mm;
    font-size: 25px;
}
.form-control{
    width: 35%;
    margin-left: 19cm;
    margin-bottom: 1cm;
}
label{
    margin-left: 19cm;
margin-top: 20px;
}
.button{
    width: 5%;
    margin-left: 28cm;
    margin-bottom: 25px;
    top: -400px;
}
.movieModal{
    width: 220px;
    height: 311;
    margin-left: 40px;
    display: inline-block;
margin-bottom: 45px;
}
.moviedescription{
    width: 550px;
}
.js-comment-list{
    width: 500px;
}
hr.new{
    color: black;
    width: 1070px;
margin-left: -9px;
margin-right: -15px;
}